body{
    
}

#banner{
    width: 100%;
}

.principial{
    background: #CCCCCC;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background: #FFFFFF;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}